**/bin/
**/obj/
.git/
.github/
.pipeline/
.vs/
.research/
.resources/
.remember/
actions-runner/
docs/
publish-out/
*.md
source/Core/olympiad-quizzer-net.Core.Domain.L0/
source/Core/olympiad-quizzer-net.Core.Tests.Common/
source/App/olympiad-quizzer-net.App.API.L1/
source/App/olympiad-quizzer-net.App.Client/
